/* Contact Us */
.form-control{
    width: 95%;     
}
.form-control:focus {
    border-color: #02632c;
} 
.form-group textarea:focus {
    border-color: #02632c !important;
}
.form-control::placeholder {
    color: white; /* Change this to the desired color */
}
.transparent-textarea {
    background-color: transparent;
    border: 1px solid #adadad;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
nav li{
    display: inline-block;
}

/* Login */
.form-control{
    color: transparent;
    background-color: transparent;
}
.form-control::placeholder {
    color: white; /* Change this to the desired color */
}
.btn-outline-secondary {
    color: #ffffff;
    border-color: #ffffff;
}
.input-group{
  width: 300px;
}
